body {
	font-family: sans-serif;
	padding: 0 1rem;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    background: #f1f1f1;
    padding: 2rem 1rem;
    border-bottom: 1px solid #ccc;
    margin: -.5rem -1.5rem 3rem -1.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

h2 {
    margin: 2rem 0 0 0;
}

.progressbar {
	margin: .5rem 0;
}

.progressbar-radial {
	margin: .5rem 0;
}

.examples {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10rem;
	grid-row-gap: 10rem;
}

.demo {
    display: flex;
    flex-flow: row nowrap;
}

.code {
	background: #f1f1f1;
	margin-left: 2rem;
}

pre {
    margin: 0;
    padding: 0 .5rem;
}

.github-fork {
	position: absolute;
	top: 0;
	right: 0;
}